@import "../../style/variables.scss";

.home {
  width: 100%;
  background-color: $very-dark-blue;
  padding: 1.5rem 4rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2rem;
  gap: 2rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.dark-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
