@import './variables.scss';

body {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  font-size: $homepage-font-size;
  background-color: $very-dark-blue;

  #root {
    width: 100%;
  }
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }

  .home {
    padding-inline: 2rem;
  }

  img {
    height: unset !important;
  }
}

a {
  color: white;
}

nav {
  padding: 1rem 4rem;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
