* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  text-align: center;
}

.container {
  width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.card {
  padding: 40px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
}

.card .content {
  width: 50%;
}

.flag-img {
  width: 200px;
  /* width: 100px; */
  height: 100px;
}
.flag-img img {
  max-width: 100%;
}
